 <div class="container">

  <div class="col d-inline h2 bg-secondary text-black center-block">会員一覧</div>

   <div class="text-center">

    <table class='d-inline table'>
          <thead class="bg-secondary text-black">
            <tr>
              <th class="w-auto">会員ID</th>
              <th class="w-auto">氏名</th>
              <th class="w-auto">メールアドレス</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
           <% @customers.each do |customer|%>
            <tr>
             <td scope="w-auto"><%= customer.id %></td>
             <td scope="w-auto"><%= link_to customer.full_name, admin_customer_path(customer.id) %></td>
             <td scope="w-auto"><%= customer.email %></td>
            </tr>
           <% end %>
          </tbody>
    </table>

   </div>

    <%= paginate @customers %>

</div>