<div class="container">

 <div class="col-sm-3 mt-4 ml-3 text-center table-secondary"><h5>ジャンル編集</h5></div>

<%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>

 <div class="row mt-5">
  <div class="col">
   ジャンル名
  </div>
  <div class="col">
   <%= f.text_field :name %>
  </div>
  <div class="form-group">
   <%= f.submit '変更を保存', class: "btn btn-success" %>
  </div>
 </div>
<% end %>

</div>